<div class="container">
  
<div class="section">
<h1>Burger Time</h1>
</div>
<section>
<div class="burgers">

  {{#each burgers}}
  
  {{#if this.devoured}}
<div class="float-left not-eaten-burger">
</div>
<div class="float-right eaten-burger">
<span>That was a yummy {{this.burger_name}}</span>
</div>
  {{else}}
<div class="float-left not-eaten-burger">
<span>{{this.burger_name}}</span><button data-burgerid="{{this.id}}" class="eat-burger">Eat Burger</button>
</div>
<div class="float-right eaten-burger">
<span></span>
</div>
  {{/if}}
  
  {{else}}
  <div>No Burgers Added</div>
  {{/each}}
</div>
</section>
<section>
  <div class="row">
    <div class="card col">
      
      <h2>Create a Burger</h2>
<form id="createburger" class="form-inline">
   <div class="form-group">
     <label for="burger-name">Burger Name</label>
      <input class="form-control" type="text" name="name">
  </div>
   <button type="submit" class="btn btn-primary mb-2"><img class="icon" src="/public/assets/images/burger-button.png"> Create Burger</button>
</form>
</div>
</div>
</section>
</div>
<script type="text/javascript">
$(document).ready(function(){


  $("#createburger").on("submit", function (event) {
    event.preventDefault();

    var name = $('#createburger [name=name]').val().trim()
    var newBurger = {
      name: name
    }

    $.ajax("/api/addBurger", {
      type: "POST",
      data: newBurger
    }).then(
      function () {
        console.log("created new burger");
        location.reload();
      }
    );
  });

  $(".eat-burger").on("click", function (event) {
    event.preventDefault();

    var id = $(event.target).attr('data-burgerid').trim();

    $.ajax("/api/eatBurger/" + id, {
      type: "PUT"
    }).then(
      function () {
        console.log("Burger Eaten id ", id);
        location.reload();
      }
    );
  });

})
  
</script>
