<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">
        Eat Da Burger
      </h1>
    </div>
  </div>
  <div class="row">
    <div style="margin: 0 30% 0 auto;">
      <img class="logo" src="./assets/images/burger-top.svg" />
    </div>
  </div>
</div>
<div class="container">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h3 id="pick" style="display: none;">
          Burgers To Eat
        </h3>
        </div>
        <div class="col-6">
          <h3 id="eaten" style="display: none;">
          Burgers You Have Eaten
        </h3>
      </div>
        
      </div>
      {{#each burgers}}
        {{#if this.devoured}}
          <div class="row">
            <div class="col-6 alert not-eaten-burger"></div>
            <div class="col-6 alert alert-info eaten-burger center">
              <span>
                That was a yummy
                {{this.burger_name}}
              </span>
            </div>
          </div>
        {{else}}
          <div class="row">
            <div class="col-6 alert alert-info not-eaten-burger">
              <button
                data-burgerid="{{this.id}}"
                class="btn btn-primary mr-2 eat-burger">
                Eat Burger
              </button>
              <span class="mr-4">
                {{this.burger_name}}
              </span>
            </div>
            <div class="col-6 alert eaten-burger"></div>
          </div>
        {{/if}}
      {{else}}
        <div class="mt-4 row">
          <div class="col-12">
            <h3>
              You need to make some burgers
            </h3>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
  <section>
    <div class="row mt-4">
      <div class="">
        <div class="card col shadow">
          <div class="card-body">
            <h4 class="card-title">
              Create a Burger
            </h4>
            <form id="createburger" class="form-inline">
              <div class="form-group center">
                <label for="burger-name">
                  Burger Name
                </label>
                <input class="ml-3 pl-3 pr-3 form-control"
                  type="text"
                  name="name">
              </div>
              <button type="submit" class="btn btn-primary m-2">
                <img class="icon" src="./assets/images/burger-button.png">
                Create Burger
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
></script>
<script type="text/javascript">
  $(document).ready(function(){
  var id = $('.eat-burger').attr('data-burgerid')
if(id){
  $('#pick').show() 
  $('#eaten').show()
}
  $("#createburger").on("submit", function (event) {
    event.preventDefault();

    var name = $('#createburger [name=name]').val().trim()
    var newBurger = {
      name: name
    }

    $.ajax("/api/addburger", {
      type: "POST",
      data: newBurger
    }).then(
      function () {
        console.log("created new burger");
        location.reload();
      }
    );
  });

  $(".eat-burger").click(function (event) {
    event.preventDefault();

    var id = $(event.target).attr('data-burgerid');
    var url = "/api/eatburger/" + id.toString()
    $.ajax(url,{
      type: "GET"
    }).then(
      function () {
       location.reload()
      }
    );
  });

})
</script>